/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page */
body {
    font-family: Merriweather, Georgia, serif;
    background-color: #fff;
    color: #333;
    font-size: 1.2rem;
}

/* Header */
header {
    width: 650px;
    margin: auto;
}

h1 {
    color: navy;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
}

/* Form Container */
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    display: grid;
}

/* Fieldsets */
fieldset {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    padding: 1rem;
}

/* Legends */
legend {
    color: navy;
    font-size: 2rem;
    padding: 0.5rem;
}

/* Rows */
.checkbox-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 18px;
}

/* Labels */

label, input, button, select, textarea {
  font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: right;
    font-size: 1.2rem;
}

/* Inputs */

input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;

}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

select,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #aaa;
    background: white;
}

/* Contact section inputs */
input[type="text"],
input[type="email"] {
    max-width: 450px;
}

/* Select */
select {
    max-width: 170px;
}

/* Checkbox */
.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="checkbox"] {
    width: 28px;
    height: 28px;
}

/* Places Lived */
.places-container {
    grid-column: 1 / 3;
}

textarea {
    width: 100%;
    resize: vertical;
    min-height: 110px;
}

/* Submit Button */
button {
  margin: 1rem;
  background-color: navy;
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
    background-color: #001f7a;
}

/* Footer */
footer {
  margin: 1rem auto 0;
  width: 650px;
  text-align: center;
  font-size: 0.8em;
  color: #777;
  border-top: 1px solid #ccc;
}